@{
    Layout = null;
}

<html>
<head>
    <title>Помилка</title>
    @Styles.Render("~/Content/css")
    <style>
        body {
            padding-top: 100px;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-xs-12 text-danger text-center">
            <b>Виникла помилка під час виконання операції</b>
        </div>
    </div>
</body>
</html>




